@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  width: 100%;
  background-color: #eeeeee;
  display: flex;

}

.navbar-item {
  width: 200px;
  text-align: center;
}

.navbar-item:hover {
  border-bottom: 2px solid darkgray;
}

.navbar-item.active {
  border-bottom: 2px solid darkblue;
}

table th, td {
  padding: 1rem;
}

table tr {
  border: 1px solid lightgray;
}