@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  width: 100%;
  background-color: lightgray;
  display: flex;

}

.navbar-item {
  width: 200px;
  text-align: center;
}

.navbar-item:hover {
  border-bottom: 1px solid darkgray;
}

.navbar-item.active {
  border-bottom: 1px solid darkblue;
}